.top-banner {
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  
  .contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFFFFF;
    &-item {
      margin-bottom: 10px;
      margin-top: 10px;
      margin-right: 40px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      &__text {
        margin-left: 10px;
      }
    }
  }

  @media (max-width: 576px) {
    .margin-top-section-reset {
      margin-top: 0 !important;
    }
    .top-banner {
      display: none;
    }
  }
  